/* Reuseable Styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Monserrat", sans-serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

p {
  text-align: center;
}

:root {
  --primary-color: #46351d;
  --secondary-color: #ef6f6c;
  --white-color: #fff;
  --grey-color: #555;
  --light-grey-color: #777;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 100vh;
  padding: 2.5rem;
}

section:first-child {
  margin-top: 2.5rem;
  height: calc(100vh - 2.5rem);
}

section:last-child {
  margin-bottom: 2.5rem;
  height: calc(100vh - 2.5rem);
}

section:nth-child(even) {
  background-color: var(--primary-color);
}

section:nth-child(odd) {
  background-color: var(--secondary-color);
}

.container {
  margin: 0 2.5rem;
  box-shadow: 0 1rem 3rem var(--grey-color);
}
/* End of Resuable Styles */

/* Start of Header Styles*/
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.header-text {
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 0.3rem;
  text-shadow: 0.3rem 0.5rem var(--light-grey-color);
}

.heading {
  font-size: 8rem;
  font-weight: 500;
  color: var(--white-color);
  animation: drop-letters 5s 1s infinite;
  letter-spacing: 10px;
  animation: drop-letters 5s 1s;
}

.header-paragraph {
  font-size: 2rem;
  font-weight: 200;
  color: var(--white-color);
  max-width: 70rem;
  margin: auto;
}

.header-image {
  height: 40%;
  border-radius: 50%;
  margin: 2.5rem;
}

@keyframes drop-letters {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(200%);
  }
  50% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}
/* End of Header styles */

/* About Me */
.about-me {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.about-me-heading {
  font-size: 8rem;
  text-align: center;
  margin-bottom: 5rem;
  color: var(--secondary-color-color);
  text-shadow: 0 0.1rem 0.2rem var(--white-color);
  letter-spacing: 10px;
  font-weight: 500;
}
.about-me-container {
  position: relative;
  overflow: hidden;
  height: inherit;
}

.card-image {
  width: 35rem;
}

#carousels {
  height: 70vh;
  list-style-type: none;
}

.carousel {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  z-index: 1;
  padding: 50px 0 100px 0;
  box-sizing: border-box;
  color: #fff;
  background-size: cover;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.showing {
  opacity: 1;
  z-index: 2;
}

#carousel_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 77px;
  overflow: hidden;
  box-sizing: border-box;
}

.carousel:nth-of-type(1) {
  background-attachment: fixed;
  background-size: cover;
}

.carousel:nth-of-type(2) {
  background-attachment: fixed;
  background-size: cover;
}

.carousel:nth-of-type(3) {
  background-attachment: fixed;
  background-size: cover;
}

.controls {
  background: #3333339e;
  border-radius: 50px;
  border: none;
  padding: 20px 0px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid var(--white-color);
  margin: 10px 10px 10px 10px;
  width: 70px;
  height: 70px;
}

.controls:hover,
.controls:focus {
  background: #eee;
  color: #333;
}

.interactive {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 8px;
  /* box-sizing: border-box;
  grid-template-columns: 80px 1fr 80px 1fr 80px;
  justify-items: center; */
  z-index: 10;
}

.controls#pause {
  grid-column-start: 3;
}

.controls#previous {
  grid-column-start: 0;
}

.controls#next {
  grid-column-start: 6;
}

.carousel_nav {
  display: flex;
  width: 100%;
  justify-content: center;
  left: 0px;
  top: 0px;
  z-index: 10;
  /* padding: 8px; */
  box-sizing: border-box;
}

.carousel_indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 12px;
}

.carousel_indicator.current-showing {
  background: rgba(0, 0, 0, 0.75);
}
/* End of About Me */

@media all and (max-width: 750px) {
  .header {
    flex-direction: column;
  }

  .header-image {
    height: 30%;
  }
  .heading {
    font-size: 6rem;
  }

  .header-paragraph {
    font-size: 1rem;
  }
}
