/* Reuseable Styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Monserrat", sans-serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #916953;
  --secondary-color: #fcb1a6;
  --white-color: #fff;
  --pink-color: #ffdccc;
  --light-grey-color: #777;
  --writing-color: #553b2d;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 100vh;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
}

section:first-child {
  margin-top: 2.5rem;
  height: calc(100vh - 2.5rem);
}

section:last-child {
  margin-bottom: 2.5rem;
  height: calc(100vh - 2.5rem);
}

section:nth-child(even) {
  background-color: var(--primary-color);
}

section:nth-child(odd) {
  background-color: var(--secondary-color);
}

.container {
  margin: 0 2.5rem;
  box-shadow: 0 1rem 3rem var(--light-grey-color);
}
/* End of Resuable Styles */

/* NavBar */
.navbar-icon {
  width: 5.5rem;
  height: 5.5rem;
  background-color: var(--white-color);
  border: 1px solid var(--pink-color);
  border-radius: 50%;
  cursor: pointer;
  flex-direction: column;
}

.open-navbar {
  position: fixed;
  top: 6.5rem;
  left: 6.5rem;
  z-index: 200;
}

.navbar-icon .partition {
  height: 0.2rem;
  width: 3.5rem;
  background-color: var(--light-grey-color);
}

.open-navbar .partition {
  margin: 0.3rem 0;
}

.navbar-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  left: 0;
  bottom: -100%;
  opacity: 0;
  z-index: 300;
  padding: 3.5rem 5.5rem 3.5rem 3.5rem;
  transition: bottom 0.5s, opacity 0.2s;
}

.change .navbar-wrapper {
  bottom: 0;
  opacity: 1;
  transition: bottom 0.5s, opacity 0.2s 0.25s;
}

.navbar {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    center no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: hidden;
}

.close-navbar {
  position: absolute;
  top: 2.5rem;
  right: 3rem;
  z-index: 300;
}

.close-navbar .partition {
  position: absolute;
}

.partition-1 {
  transform: rotate(40deg);
}

.partition-2 {
  transform: rotate(-40deg);
}

.nav-list {
  height: 100%;
  display: flex;
}

.nav-link {
  font-size: 3rem;
  font-weight: 700;
  color: var(--white-color);
  text-transform: uppercase;
  width: 100%;
  opacity: 0.8;
  position: relative;
  top: -100%;
  transition: all 0.3s;
}

.change .nav-link {
  top: 0;
}

.nav-link:hover {
  opacity: 1;
  color: var(--primary-color);
}

.change .nav-link:nth-child(1) {
  transition: top 1s 0.4s, opacity 0.3s, color 0.3s;
}

.change .nav-link:nth-child(2) {
  transition: top 1s 0.6s, opacity 0.3s, color 0.3s;
}

.change .nav-link:nth-child(3) {
  transition: top 1s 0.8s, opacity 0.3s, color 0.3s;
}

.change .nav-link:nth-child(4) {
  transition: top 1s 1s, opacity 0.3s, color 0.3s;
}
/* End of NavBar */

/* Start of Header Styles*/
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.header-text {
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 0.3rem;
  text-shadow: 0.3rem 0.5rem var(--light-grey-color);
}

#heading {
  font-size: 8rem;
  font-weight: 500;
  color: var(--white-color);
  animation: drop-letters 5s 1s infinite;
  letter-spacing: 10px;
  animation: drop-letters 5s 1s;
}

.header-paragraph {
  font-size: 2rem;
  font-weight: 200;
  color: var(--white-color);
  max-width: 70rem;
  margin: auto;
}

.header-image {
  height: 40%;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  margin: 2.5rem;
}

@keyframes drop-letters {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(200%);
  }
  50% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}
/* End of Header styles */

/* About Me */
.about-me {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 550px;
}

#about-me-heading {
  font-size: 6rem;
  text-align: center;
  /* margin-top: 4rem; */
  margin-bottom: 5rem;
  color: var(--white-color);
  text-shadow: 0.3rem 0.5rem var(--light-grey-color);
  letter-spacing: 10px;
  font-weight: 500;
}
.about-me-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  text-align: left;
  align-items: flex-end;
  overflow: hidden;
}

.cards-wrapper {
  display: flex;
  flex-flow: row;
  padding: top 30px;
  justify-content: space-evenly;
}

.card {
  width: 20rem;
  position: relative;
  perspective: 150rem;
}

.card-image {
  width: 25rem;
  border-radius: 0.3rem 0.3rem 0 0;
}

.front-side {
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 0.3rem;
  position: relative;
  z-index: 10;
  opacity: 0.9;
  transition: opacity 0.4s, transform 0.4s, box-shadow 0.4s;
}

.change > .front-side {
  transform: translateZ(-5rem) translateX(3rem);
  box-shadow: 0 2rem 4rem #777;
  opacity: 0.5;
  z-index: 0;
}

.back-side {
  position: absolute;
  top: 0;
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  box-shadow: 0 2rem 4rem #777;
  flex-direction: column;
  transform: translateZ(-5rem) translateX(3rem);
  opacity: 0.5;
  transition: opacity 0.4s, transform 0.4s, box-shadow 0.4s;
}

.change > .back-side {
  transform: translateZ(0) translateX(0);
  box-shadow: 0 0.5rem 2rem #aaa;
  opacity: 0.9;
}

.card-info {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--white-color);
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.navigation-button {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--light-grey-color);
  border-radius: 50%;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
}
/* fill in */

/* .about-me-paragraph {
  font-size: 2rem;
  font-weight: 200;
  text-align: left;
  padding-left: 40px;
  padding-top: 40px;
  color: var(--white-color);
  margin: inherit;
}  */

#carousels {
  height: 70vh;
  list-style-type: none;
}

.carousel {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  left: 0px;
  top: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  z-index: 1;
  padding: 50px 0 100px 0;
  box-sizing: border-box;
  color: #fff;
  background-size: cover;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.showing {
  opacity: 1;
  z-index: 2;
}

#carousel_content {
  align-items: center;
  margin-bottom: 90px;
  /* margin: 0px 80px; */
  overflow: hidden;
  box-sizing: border-box;
}

.carousel:nth-of-type(1) {
  background-attachment: fixed;
  background-size: cover;
}

.carousel:nth-of-type(2) {
  background-attachment: fixed;
  background-size: cover;
}

.carousel:nth-of-type(3) {
  background-attachment: fixed;
  background-size: cover;
}

.controls {
  background: #3333339e;
  border-radius: 50px;
  border: none;
  padding: 20px 0px;
  font-size: 20px;
  color: #eee;
  cursor: pointer;
  border: 2px solid var(--white-color);
  margin: 10px 10px 10px 10px;
  width: 70px;
  height: 70px;
}

.controls:hover,
.controls:focus {
  background: #eee;
  color: #333;
}

.interactive {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px;
  /* box-sizing: border-box;
  grid-template-columns: 80px 1fr 80px 1fr 80px;
  justify-items: center; */
  z-index: 10;
}

.controls#pause {
  grid-column-start: 3;
}

.controls#previous {
  grid-column-start: 0;
}

.controls#next {
  grid-column-start: 6;
}

.carousel_nav {
  display: flex;
  width: 100%;
  justify-content: center;
  left: 0px;
  top: 0px;
  z-index: 10;
  /* padding: 8px; */
  box-sizing: border-box;
}

.carousel_indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 12px;
}

.carousel_indicator.current-showing {
  background: rgba(0, 0, 0, 0.75);
}
/* End of About Me */

/* Questions */
#question-main-heading {
  font-size: 6rem;
  text-align: center;
  /* margin-top: 4rem;
  margin-bottom: 5rem; */
  color: var(--white-color);
  text-shadow: 0.3rem 0.5rem var(--light-grey-color);
  letter-spacing: 10px;
  font-weight: 500;
}

.questions {
  padding: 5rem 0;
  position: relative;
  flex-direction: column;
  min-height: 800px;
}

.questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
}

.question-bg {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid var(--primary-color);
  padding: 3rem;
  margin: 2rem;
  width: 85%;
  box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.4);
  transform: skewX(20deg);
}

.question {
  transform: skewX(-20deg);
  display: flex;
}

.question-image {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5rem;
}

.question-text {
  letter-spacing: 0.1rem;
}

.questions-heading {
  font-size: 2rem;
  text-transform: lowercase;
  color: var(--light-grey-color);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.question-paragraph {
  font-size: 12px;
  color: var(--primary-color);
}

.question-paragraph::first-letter {
  margin-left: 1rem;
}
/* End of Questions */

/* Prerequisites */
#prereqs-heading {
  font-size: 6rem;
  text-align: center;
  margin-top: 4rem;
  color: var(--white-color);
  text-shadow: 0.3rem 0.5rem var(--light-grey-color);
  letter-spacing: 10px;
  font-weight: 500;
}

#links {
  display: flex;
  flex-flow: row;
  text-align: center;
  /* margin: 0 auto; */
  /* justify-content: center;
  align-items: center; */
  padding: 30px;
}

.link {
  transition: all 0.8s ease-in-out;
}

.link.in-view {
  opacity: 1;
}

#links a {
  margin: 0 auto;
  padding: 0px 30px;
}

#links img {
  margin: 0 auto;
  height: 120px;
  border-radius: 50%;
}

#links img:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

#prereqs-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
}
/* End of Prerequisites */

/* Footer */
.footer {
  background-color: var(--pink-color);
  padding: 4rem 0 2rem 0;
}

.footer-list {
  display: flex;
  justify-content: center;
}

.footer-link {
  font-size: 2rem;
  color: var(--light-grey-color);
  margin: 0 2rem;
  background-color: var(--pink-color);
  padding: 0.3rem 3rem;
  letter-spacing: 0.3rem;
  transition: all 0.2s;
}

.footer-link:hover {
  transform: rotate(-10deg);
  box-shadow: 0 2rem 3rem #000;
}

.footer-paragraph {
  text-align: center;
  font-size: 1.5rem;
  color: var(--primary-color);
  letter-spacing: 0.2rem;
  margin-top: 5rem;
}
/* End of Footer */

/* Responsiveness */

@media (max-width: 1070px) {
  .nav-list {
    flex-direction: column;
  }

  .nav-link {
    flex-grow: 1;
  }

  .card-image {
    width: 20rem;
    border-radius: 0.3rem 0.3rem 0 0;
  }

  .cards-wrapper {
    padding: top 50px;
  }

  .question-bg {
    transform: skewX(0);
    padding: 2rem;
    margin: 2rem;
  }

  .question {
    transform: skewX(-0deg);
    display: flex;
  }

  .question-image {
    width: 7rem;
    height: 7rem;
    margin-bottom: 3rem;
    margin-right: 20px;
  }

  .questions-heading {
    font-size: 14px;
  }

  .question-paragraph {
    font-size: 13px;
  }

  .footer-link {
    font-size: 1rem;
    padding: 0.3rem 2rem;
    margin: 0 1rem;
  }
}
@media (max-width: 900px) {
  .card-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 19rem;
    margin: 5rem 0;
  }

  .card-image {
    width: 19rem;
  }

  .carousel {
    padding: 0%;
  }

  .controls {
    padding: 15px 0px;
    height: 55px;
    width: 55px;
  }
}

@media (max-width: 850px) {
  .card {
    margin: 4rem 8px;
  }
  .card-image {
    width: 17rem;
  }
}

@media (max-width: 750px) {
  .navbar-icon {
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 10px;
  }

  .navbar-icon .partition {
    height: 0.2rem;
    width: 2.5rem;
  }
  .open-navbar {
    top: 2.5rem;
    left: 2.5rem;
  }

  .navbar-wrapper {
    padding: 0;
  }

  .close-navbar {
    right: 4rem;
  }

  .header {
    flex-direction: column;
  }

  .header-image {
    height: 30%;
  }

  #heading {
    font-size: 6rem;
  }

  .header-paragraph {
    font-size: 1rem;
  }

  #about-me-heading {
    font-size: 4rem;
    font-weight: 200;
  }

  .controls {
    padding: 7px 0px;
    height: 40px;
    width: 40px;
  }

  .questions {
    min-height: 1100px;
  }

  /* #carousel {
    flex-direction: column;
    text-align: center;
    padding-top: 60px;
  } */

  #carousel_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
  }

  .card {
    width: 15rem;
    margin: 2rem 0.5rem;
  }

  .card-image {
    width: 15rem;
  }

  .card-info {
    font-size: 13px;
  }

  #question-main-heading {
    font-size: 4rem;
    font-weight: 200;
  }

  .question-bg {
    transform: skewX(0);
    padding: 2rem;
    margin: 2rem;
  }

  .question {
    transform: skewX(0);
    flex-direction: column;
    align-items: center;
  }

  .questions-heading {
    font-size: 16px;
  }

  .question-paragraph {
    font-size: 10px;
  }

  .question-image {
    width: 6rem;
    height: 6rem;
    margin-bottom: 1rem;
    margin: 0;
    top: 0px;
    right: 0px;
  }

  #prereqs-heading {
    font-size: 3rem;
    font-weight: 200;
  }

  #links a {
    padding: 8px 0px;
  }

  #links img {
    height: 70px;
  }

  .footer-list {
    flex-direction: column;
    align-items: center;
  }

  .footer-link {
    font-size: 1rem;
    margin: 1rem 0;
  }
}

@media (max-width: 575px) {
  .about-me {
    min-height: 800px;
  }
  .cards-wrapper {
    display: list-item;
    flex-direction: column;
  }
  .card {
    margin: 1rem 0;
  }
  /* .buttons {
    flex-direction: column;
    align-items: flex-end;
  } */

  .card-info {
    font-size: 10px;
  }
}

/* End of Responsiveness */
